<% include ../partials/header %>
<div style="margin-top: 50px; text-align: center;">
  <header class="jumbotron">
    <h2>Editing <%= campground.name %></h2>
  </header>

  <div style="width: 50%; display: inline-flex;">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      style="width: 100%"
    >
      <input
        style="margin:5px"
        class="form-control"
        type="text"
        value="<%= campground.name %>"
        name="campground[name]"
      />
      <input
      style="margin:5px"
      class="form-control"
      type="number"
      value="<%= campground.price %>"
      name="campground[price]"
      min="0"
      step="0.01"
      required
    />
    <input
      style="margin:5px"
      class="form-control"
      type="text"
      value="<%= campground.location %>"
      name="campground[location]"
    />
      <input
        style="margin:5px"
        class="form-control"
        type="text"
        value="<%= campground.description %>"
        name="campground[description]"
      />
      <input
        style="margin:5px"
        class="form-control"
        type="text"
        value="<%= campground.image %>"
        name="campground[image]"
      />
      <button style="margin:5px" class="btn btn-success btn-lg">
        Update
      </button>
    </form>
  </div>
</div>
<% include ../partials/footer %>
